
*{
    text-align: center; 
    background-color: #F9F6EE;
    
}

.title{
    font-family: 'Sixtyfour', sans-serif;
    padding-top: 230px;
    margin-bottom: 40px;
    font-size: 56px;
}


.author{

    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 50px;
    border-radius: 15px;
}
.Buttons{
    margin-bottom: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    width: 200px;
    display: flex;
}

.about{

    padding: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 123px;
    border-radius: 15px;
}



/* HOBBIES PAGE */

.aboutTitle{
    font-family:'Workbench', sans-serif;
    font-weight: 400;
    font-size: 80px;
    padding-top: 20px;
}

.intro{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    border: 1px;
    border-style: solid;
    margin-bottom: 50px;
    border-radius: 15px;
}

.intro p{
    font-weight: 900;
    font-size: 60px;
}

.trans{
    margin-top: 20px;
    margin-bottom: 20px;

}

#translation{
    margin-bottom:20px ;

}
#translation p{
    font-weight: 900;
    font-size: 20px;
}

.hobbyTitle{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    word-spacing: 12px;
}

.hobbiecards{
    display: flex;
    justify-content: center;
}

.hobbyEnd{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 60px;
    word-spacing: 12px;
}

/* Calculator */
